# General
*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.gz
*.swp

# Jest coverage reports
coverage

# API keys and secrets
.env

# Dependency directory
node_modules

# OS metadata
.DS_Store
Thumbs.db

# Ignore built ts files
dist/**/*
